<p>calculator works!</p>
<div class="flex gap-2 items-center">
<input {{num1 ()}} (input)="num1.set($any($event.target).value)" class="rounded-lg bg-red-300"/>


<select (change)="operator.set($any($event.target).value)">
    <option value="+">+</option  >
    <option value="-">-</option>
    <option value="*">*</option>
    <option value="/">/</option>
</select>

<input {{num2 ()}} (input)="num2.set($any($event.target).value)" class="rounded-lg bg-blue-300 "/>
</div>

<p> Result : {{total()}}</p>

<h1>trying something else out</h1>




