<div class="min-h-screen w-full bg-orange-50 flex flex-col items-center px-4 py-8">

  <h3 class="text-bold text-orange-700 mb-2">{{date|date}} </h3>

  <header class="text-center mb-6">
      <h1 class="text-2xl font-bold text-orange-800 tracking-wide">TASK MANAGER</h1>
  </header>

 


<div  class="flex flex-col sm:flex-row gap-3">
<input type="text" placeholder="search" #filter
class="flex-1 border border-orange-200 h-12 p-3 rounded-md text-gray-900 focus:outline-none focus:ring-2 focus:ring-orange-300"
 />
<button (click)="search(filter.value)">search</button>
</div>
@for (task of filteredDoneTasks(); track task.title){
  <p>{{task.title}}</p>
}

 

  <main class="w-full max-w-3xl flex flex-col gap-6">

    <section class="bg-white p-6 rounded-xl border border-orange-200 shadow-sm">
      <h2 class="text-lg font-semibold text-orange-500 mb-4">
          ADD A TASK
      </h2>

      <div class="flex flex-col sm:flex-row gap-3">
          <input #taskInput type="text" placeholder="Input task"
          class="flex-1 border border-orange-200 h-12 p-3 rounded-md text-gray-900 focus:outline-none focus:ring-2 focus:ring-orange-300"
         >
         <button class="bg-orange-400 text-white px-9 py-3 rounded-lg hover:bg-orange-500 transition-colors" (click)="addTask(taskInput.value); taskInput.value=''" >add task</button>
      </div>
    </section>

    <section class="bg-orange-100 p-6 rounded-xl border border-orange-200 shadow-sm">
      <h2 class="text-xl font-semibold text-orange-500 mb-4">MY TASKS</h2>

      <div class="flex flex-col gap-3">
        @for (task of tasks; track task.title) {
          <div class="flex flex-col sm:flex-row justify-between items-center gap-3 bg-white p-4 rounded-lg border border-orange-100 shadow-sm">

            <h3
              class="text-gray-600 font-medium text-center sm:text-left"
              [class.line-through]="task.completed" >
              {{ task.title }}
            </h3>
          

            <div class="flex gap-2 items-center">
              <button
                class="rounded-lg bg-orange-300 text-white px-5 py-1 hover:bg-orange-400 transition-colors"
                (click)="doneTask(task)">
              done
              </button>

              <button
                class="text-white bg-red-300 rounded-lg px-5 py-1 hover:bg-red-600 transition-colors"
                (click)="deleteTask(task)"
              >
                delete
              </button>
            </div>

          </div>
        }
      </div>

    </section>
  </main>


